body {
  font-family: "New Tegomin", serif;
  background-color: #ddd;
  margin-bottom: 5vh;
}

figcaption {
  display: none;
}

.header__div-nav {
  box-shadow: 0 4px 2px -2px gray;
  background-color: white;
  position: fixed;
  top: 0; /* required */
  overflow: hidden;
  width: 100%;
  z-index: 999;
}
.navbar__ul {
  margin: 0;
  padding: 0;
  height: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navbar__ul * {
  padding: 0 2vw;
  list-style-type: none;
  display: block;
}

h2 {
  text-align: center;
}

li > a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

li > a:visited {
  color: #000;
}

a {
  text-decoration: none;
}

li > a::after {
  content: "";
  width: 0px;
  height: 1px;
  display: block;
  background: black;
  transition: 300ms;
}

li > a:hover::after {
  width: 100%;
}

#main {
  background-color: #ddd;
  margin: 0 10vw;
  padding: 20px;
  margin-top: 20vh;
}

.main__title_container {
  background-color: white;
  border-radius: 2%;
  margin: 10px;
}

.main__title_container:hover {
  box-shadow: 5px 5px 20px;
}

article {
  text-align: justify;
  background-color: white;
  border-radius: 2%;
  padding: 10px 20px;
  margin: 10px;
  text-align: justify;
}

article:hover {
  box-shadow: 5px 5px 20px;
}

#title {
  width: 100%;
  height: 100%;
  text-align: center;
}

#image {
  height: auto;
  width: 100%;
  max-width: 1000px;
  max-height: 100%;
  object-position: center;
  object-fit: contain;
  border-radius: 2%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.albums__image-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 30px;
}

.albums__image {
  border-radius: 2%;
  margin-bottom: 2em;
  border: 1px solid black;
  position: relative;
  z-index: 0;
}

.albums__image:hover {
  box-shadow: 5px 5px 20px;
}

.albums__image > h3 {
  font-size: 1em;
  border: 1px solid black;
  background-color: white;
  position: absolute;
  z-index: 1;
  text-align: center;
  left: 0;
  right: 0;
}

.albums__image > img {
  height: 100%;
  width: 100%;
  max-width: 100%;
  object-fit: contain;
}

.cool-picks-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.cool-picks:hover {
  box-shadow: 5px 5px 20px;
}

.cool-picks > img {
  height: 100%;
  width: 100%;
  max-width: 100%;
  object-fit: contain;
}

@media (max-width: 600px) {
  .albums__image > h3 {
    font-size: 0.3em;
    border: 1px solid black;
    background-color: white;
    position: absolute;
    z-index: 1;
    text-align: center;
    left: 0;
    right: 0;
  }
}
